@import "tailwindcss";

.form-title {
  line-height: 1.2;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}


.saved-password {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-left: 3px solid #4A90E2;
    padding: 10px;
    border-radius: 10px;
}